<a href="https://colab.research.google.com/github/carissafarry/study-ml/blob/main/2.4%20Python%20Special%20Data%20Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

#List

In [2]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [4]:
# list can have multiple data types
my_list = [2,3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

#Lists are Mutable -> Changeable

In [6]:
# add elements to a list
my_list = [2,3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [8]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [10]:
# lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [12]:
print(len(list_1))

8

In [14]:
# initiating an empty
list_2 = []
print(list_2)

[]

In [16]:
list_2.append(5)
print(list_2)

[5, 5]

In [18]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [19]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Tuple

In [21]:
tuple1 = (2,3,4,5)
print(tuple1)
type(tuple1)

(2, 3, 4, 5)

tuple

In [23]:
# tuple allows multiple data types
tuple2 = (1,2,3.5, 'Machine Learning', False)
print(tuple2)

(1, 2, 3.5, 'Machine Learning', False)

In [26]:
# converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [28]:
print(my_tuple[0])
print(my_tuple[1])

3
4

#Tuples are immutable --> Unchangeable

In [30]:
my_tuple.append(6)

AttributeError: ignored

In [32]:
print(len(my_tuple))

4

#Set

In [34]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [36]:
print(my_set[0])

TypeError: ignored

In [38]:
# convert a list to a set
list5 = [4,5,6,7,8]

x = set(list5)
print(x)

{4, 5, 6, 7, 8}

In [40]:
# set does not allow duplicate value
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

#Dictionary

Key-Value Pair

In [42]:
mydict = {'name' : 'David', 'age' : 30, 'country' : 'India'}
print(mydict)
type(mydict)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [44]:
print(mydict['name'])
print(mydict['age'])
print(mydict['country'])

David
30
India

In [45]:
# dictionary does not allow duplicate values
dict2 = {'name' : 'David', 'age' : 30, 'country' : 'India','name' : 'David', 'age' : 30, 'country' : 'India'}
print(dict2)

{'name': 'David', 'age': 30, 'country': 'India'}