<a href="https://colab.research.google.com/github/carissafarry/study-ml/blob/main/2.5%20Operators%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python:
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

#Arithmetic Operators

In [ ]:
num1 = 20
num2 = 10

# addition
sum = num1 + num2
print('sum = ', sum)

# substraction
diff = num1 - num2
print ('difference = ', diff)

# multiplication
pro = num1 * num2
print('product = ', pro)

# division
quo = num1/num2
print('quotient = ', quo)

# exponent
exp =num1**num2  # 20^10
print('exponent = ', exp)

# modulus
mod = num1 % num2
print('reminder = ', mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

#Assignment Operators

+=

-=

*=

**=

/-

%=

In [ ]:
a = 5
print(a)

5

In [ ]:
a = 5
a += 5  # a = a+5
print(a)

10

In [ ]:
b = 5
b -= 2  # b = b - 2
print(b)

3

# Comparison Operators

In [2]:
a = 5
b = 10

print(a == b)  # equal to 
print(a != b)  # not equal to
print(a > b)  # greater than
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

# Logical Operators

and

or

not

In [6]:
a = 10
print( a>20 and a>5)
print( a>20 or a>5)
print( not( a>8 and a>5))

False
True
False

#Identity Operator

is

is not

In [8]:
x = 5 
y = 5

print(x is y)

True

In [10]:
x = 5 
y = 10

print(x is y)

False

In [12]:
x = 5 
y = 5

print(x is not y)

False

In [14]:
x = 5 
y = 10

print(x is not y)

True

#Membership Operator

in

not in

In [16]:
a = 5
b = 10

c = [1,2,3,4,5]
print( a in c)
print( b in c )

True
False

In [17]:
a = 5
b = 10

c = [1,2,3,4,5]
print( a not in c)
print( b not in c )

False
True