<a href="https://colab.research.google.com/github/carissafarry/study-ml/blob/main/2.7%20Loops%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For loop

In [3]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 2000
Enter the price of the laptop : 3000
Enter the price of the laptop : 4000
Enter the price of the laptop : 5000
Enter the price of the laptop : 6000

In [4]:
for i in range(5):  # 0,1,2,3,4
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 2000
Enter the price of the laptop : 3000
Enter the price of the laptop : 4000
Enter the price of the laptop : 5000
Enter the price of the laptop : 6000

In [7]:
print(laptop_price)

6000

In [9]:
numbers = [50,100,150,200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [11]:
for i in numbers:
  print(i)

50
100
150
200

#While Loop

In [14]:
i = 0

while i < 10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [17]:
i = 5

while i<3:
  print(i)